<div class="fottersss" >
    <div class="sub-fotterss" (click)="changeColor('home')" [ngClass]="{'active': activeIcon === 'home'}">
        <i class="material-symbols-outlined">home</i>
        <span >Home</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Services')" [ngClass]="{'active': activeIcon === 'Services'}">
        <i class="material-symbols-outlined" >work_history</i>
        <span>Ongoing</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Activity')" [ngClass]="{'active': activeIcon === 'Activity'}">
        <i class="material-symbols-outlined" style="width: 20px;">payments</i>
        <span>Earnings</span>
    </div>
    <div class="sub-fotterss" (click)="changeColor('Account')" [ngClass]="{'active': activeIcon === 'Account'}">
        <i class="material-symbols-outlined" >ads_click</i>
        <span>Target</span>
    </div>
  
   
   
    
</div>
