<div class="container">
    <span class="material-symbols-outlined" >arrow_back</span>
    <br>
    <div class="sub-container">
        <div class="profile">
            <div class="image">
                <img src="assets\demo\IMG_3034.JPG"> 
            </div>
            <div class="details">
                <span>Bharath Reddy</span> <br>
                <div class="rating"> <span class="material-symbols-outlined" >star</span>4.89</div>
                <span>Beautician</span>
            </div>
        </div>
        
        <div class="category">
            <div class="ids">
                <span class="tittle">My Id</span>
                <span class="tittle">1234567899</span>
            </div>
        
            <hr>
            <div class="ids">
                <div>
                    <span class="tittle">Identity verification</span><br>
                    <span class="tittle2">Identity Proof and Personal details</span>
                </div>
                <span class="material-symbols-outlined" >arrow_forward_ios</span>
            </div>
    
            <hr>
        </div>
        <div class="awards-div">
            <span>Award and certificate </span>
            <div class="awards">
                <div><img src="assets\demo\awards.png"></div>
                <div><img src="assets\demo\certificate2.png"></div>
            </div>
            <span>View More</span>
        </div>
        <div class="awards-div">
            <span>Contact Details</span>
           <div> <hr></div>
            <div>
                <pre>Phone</pre>
                <span>+91 XXXXXXXXXX</span>
            </div>
            <div>
                <pre>Email</pre>
                <span>abcdgmail.com</span>
            </div>
        </div>
    </div>
</div>
<br>