<div class="container">
    <span class="material-symbols-outlined"  style="float: left;margin-top: 1rem;margin-left: 1rem;" >arrow_back</span><br><br>
    <span class="tittle"  style="float: left;margin-top: 1rem;margin-left: 1rem;">How can we help you?</span>
    <div class="sub-container">
      <span class="tittle1">All Topics</span>
      <div class="topics">
            <div>
                <span class="material-symbols-outlined" >person</span>
                &nbsp;<span class="namee">Account</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
      </div>
      <div class="line"></div>
      <div class="topics">
            <div>
                <span class="material-symbols-outlined" >credit_card</span>
                &nbsp;<span class="namee">Payments & credits</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
     </div>
     <div class="line"></div>
     <div class="topics">
            <div>
                <span class="material-symbols-outlined" >verified_user</span>
                &nbsp;<span class="namee">Safety</span>
            </div>
            <span class="material-symbols-outlined" >chevron_right</span>
     </div>
    
    </div>
</div>