<section class="container">

    <div class="arival-status">
        <span>Reached customer location </span>
        <span class="material-symbols-outlined" style="font-size: 24px;  margin-right: 1.5rem;">
            call
        </span>
    </div>
    <div class="map">
        <img src="assets/demo/map111.png">
    </div>
    <br>
    <div class="location">
        <span class="material-symbols-outlined">
            near_me
        </span>
        <span>
            Shop no 1, VM impreza building, near old MLA quarters, Hyderguda, Himayathnagar,  Hyderabad, Telangana 500029, India
        </span>
    </div>
    <div class="slide-toggle">
        <input type="checkbox" id="toggle"   (change)="toggleDisplay($event)">
        <label for="toggle" class="already-label" style="content:'Iam Existing provider ';" ></label>
       
    </div>
</section>