<div class="container">
    <div class="sub-container">
        <div class="banner-div">
            <!-- <img src="assets\logo\Rectangle 25.png"> -->
            <div class="banner">
                <!-- @if () {}@else {} -->
                <span >Earn more</span>
                <p>fill your dreams</p>
            </div>
            
           
        </div>
        <div class="phone-div">
            <div >
                <img src="assets\logo\india logo.png"> <span>+91</span> <span class="line">|</span> 
            </div>
        </div>
       <div class="update-div">
            <input type="checkbox" > <span>Get update on &nbsp;<img src="assets\logo\wts up .png"> whatsapp</span>
       </div>
        <div class="btn">
             <button>Login/Signup</button>
        </div>
    </div>
</div>